# 코로나19 전, 후 버스 이용량 비교

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# 윈도우의 한글 폰트 설정
plt.rc('font', family = 'Malgun Gothic')

# 시각화 그래프가 노트북 안에 보이게 하기
%matplotlib inline
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

In [4]:
# 서울시 버스노선별 정류장별 시간대별 승하차 인원 정보 2019_01 - 2020_12 (2020_11 제외)
# url : http://data.seoul.go.kr/dataList/OA-12912/S/1/datasetView.do#

'''
for i in range(1,13):
    if len(str(i)) ==1: i = '0'+str(i)
    df = pd.read_csv(filename, encoding ='cp949')
'''

In [5]:
# glob 이용해서 12개 csv 파일 load후 list(bus_2019)에 추가
# glob 폴더 지정해주면, 특정 파일들을 모두 이용가능
import glob

files_2019 = glob.glob("./data/2019/*.csv")
bus_2019 = []

for filename in files_2019:
    df = pd.read_csv(filename, index_col=None, header=0,encoding ='cp949')
    bus_2019.append(df)

In [6]:
# dataframe 결합 
df_2019 = pd.concat(bus_2019, axis=0, ignore_index=True)

In [7]:
# df_2019 데이터 탐색
df_2019.shape
df_2019.head()
df_2019.tail()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,노선ID,표준버스정류장ID,역ID
14005271,20191231,영등포01,영등포01(신도림역~구로디지털단지역),19542,농협.대림2동주민센터,108,86,20200103,11110706.0,118900031.0,9008652.0
14005272,20191231,6640B,6640B번(양천차고지~양천차고지),17202,천왕역,171,101,20200103,11110374.0,116900276.0,9030450.0
14005273,20191231,2112,2112번(면목동~성북동),06268,장평중학교,42,41,20200103,11110178.0,105000182.0,75500.0
14005274,20191231,은평10,은평10(숭실고등학교~산새마을),12160,상신초등학교,111,55,20200103,11111166.0,111000072.0,9102928.0
14005275,20191231,6640B,6640B번(양천차고지~양천차고지),17203,오류2동주민센터,95,60,20200103,11110374.0,116000113.0,9036196.0

In [8]:

files_2020 = glob.glob("./data/2020/*.csv")
bus_2020 = []

for filename in files_2020:
    df = pd.read_csv(filename, index_col=None, header=0,encoding ='cp949')
    bus_2020.append(df)

In [9]:
# dataframe 결합 
df_2020 = pd.concat(bus_2020, axis=0, ignore_index=True)

In [10]:
df_2020.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200101,N62,N62번(양천공영차고지~면목동차고지),04133,왕십리역,0,13,20200104
1,20200101,N62,N62번(양천공영차고지~면목동차고지),04136,행당1동주민센터.성동소방서,2,3,20200104
2,20200101,N62,N62번(양천공영차고지~면목동차고지),04186,성동교남단,0,2,20200104
3,20200101,N62,N62번(양천공영차고지~면목동차고지),04256,성수사거리,0,3,20200104
4,20200101,N62,N62번(양천공영차고지~면목동차고지),05115,국립서울병원앞,1,0,20200104

---
## 서울시 전체 버스에 대해서 정렬하기

In [ ]:
df_2020[df_2020['사용일자']in '202011']

In [11]:
# 서울시 버스 노선 개수
len(df_2019['노선번호'].unique()), len(df_2020['노선번호'].unique())

(619, 628)

In [12]:
lists = df_2020['노선번호'].unique()

bus_id =[]
get_on =[]
get_off =[]
passengers =[]
for i in lists:
#     print(i)
    buses = df_2020[df_2020['노선번호']==i]
    bus_id.append(i)
    buses['총 승객수'] = buses['승차총승객수']+buses['하차총승객수']
    get_on.append(buses['승차총승객수'].sum())
    get_off.append(buses['하차총승객수'].sum())
    passengers.append(buses['총 승객수'].sum())

da = {
   '노선번호': bus_id,
    '승차총승객수': get_on,
   '하차총승객수': get_off,
   '총 승객수': passengers}
bus_2020 = pd.DataFrame(data=da)
# 서울시 버스 이용 승객 수를 내림차순으로 정렬한 표 
bus_2020.sort_values(by ='총 승객수',ascending=False)


# 18,940,621명

     노선번호   승차총승객수   하차총승객수     총 승객수
4     143  9658015  9282606  18940621
518   152  9329287  9106330  18435617
569   160  9019295  8758487  17777782
163   130  8324151  8144739  16468890
555   153  8268498  8071085  16339583
..    ...      ...      ...       ...
333  성북05    29157    28531     57688
622  8112    16828    16462     33290
39   8777     3458     3355      6813
134  N850     2676     2652      5328
627  8002      519      501      1020

[628 rows x 4 columns]

In [13]:
lists = df_2019['노선번호'].unique()

bus_id =[]
get_on =[]
get_off =[]
passengers =[]
for i in lists:
#     print(i)
    buses = df_2019[df_2019['노선번호']==i]
    bus_id.append(i)
    buses['총 승객수'] = buses['승차총승객수']+buses['하차총승객수']
    get_on.append(buses['승차총승객수'].sum())
    get_off.append(buses['하차총승객수'].sum())
    passengers.append(buses['총 승객수'].sum())

da = {
   '노선번호': bus_id,
    '승차총승객수': get_on,
   '하차총승객수': get_off,
   '총 승객수': passengers}

bus_2019 = pd.DataFrame(data=da)

# 서울시 버스 이용 승객 수를 내림차순으로 정렬한 표 
bus_2019.sort_values(by ='총 승객수',ascending=False)

     노선번호    승차총승객수    하차총승객수     총 승객수
4     143  14137375  13476456  27613831
504   152  13186055  12818754  26004809
542   153  12062774  11737711  23800485
556   160  11771389  11384724  23156113
250   272  11653294  11328092  22981386
..    ...       ...       ...       ...
323  성북05     41991     40893     82884
616  성동14     40073     39008     79081
34   8777     10654     10274     20928
618  N850      4058      3863      7921
617  금천09        41        41        82

[619 rows x 4 columns]

In [ ]:
# ---- 여기서부터 다시 
bus_list = [df_2019, df_2020]

one_bus = '7011'
for df_year in bus_list:
    date = []  # 사용일자 
    on =[]     # 일자별 승차 승객수
    off = []    # 일자별 하차 승객수
    all = []   # 일자별 총 승객수

    
    ---------------------------------------------------------------
    ### 날짜 어떻게할지 고민 해야함 -> df_2020[df_2020['사용일자']in '202011']
    # 12월 01일 - 12월 09일
    bus_1 = df_year[df_year['노선번호']==one_bus]
    for i in range(1,10):
        day = int('20200'+str(i))
        date.append(str(day))
        bus_ = bus_1[bus_1['사용일자']==day]
        bus_['총 승객수'] = bus_['승차총승객수']+bus_['하차총승객수']
        up.append(bus_['승차총승객수'].sum())
        do.append(bus_['하차총승객수'].sum())
        agg.append(bus_['총 승객수'].sum())
        
        for j in range(1,10):
            day = int('2020120'+str(j))
            date.append(str(day))
            bus_ = bus_1[bus_1['사용일자']==day]
            bus_['총 승객수'] = bus_['승차총승객수']+bus_['하차총승객수']
            up.append(bus_['승차총승객수'].sum())
            do.append(bus_['하차총승객수'].sum())
            agg.append(bus_['총 승객수'].sum())


        # 12월 10일 - 12월 31일
        for j in range(10,32):
            day = int('202012'+str(j))
            date.append(str(day))
            bus_= bus_1[bus_1['사용일자']==day]

            bus_['총 승객수'] = bus_['승차총승객수']+bus_['하차총승객수']
            up.append(bus_['승차총승객수'].sum())
            do.append(bus_['하차총승객수'].sum())
            agg.append(bus_['총 승객수'].sum())

        
        
    # 12월 10일 - 12월 31일
    for i in range(11,32):
        day = int('202012'+str(i))
        date.append(str(day))
        bus_= bus_1[bus_1['사용일자']==day]

        bus_['총 승객수'] = bus_['승차총승객수']+bus_['하차총승객수']
        up.append(bus_['승차총승객수'].sum())
        do.append(bus_['하차총승객수'].sum())
        agg.append(bus_['총 승객수'].sum())
        
    



    data = {'사용일자':date,
            '승차총승객수': up,
            '하차총승객수': do,
            '총 승객수' : agg}

    # 일자별 버스 승차, 하차, 총 승객수
    bus_check = pd.DataFrame(data=data)
    # bus_check
    bus_check.plot.line(x='사용일자',y='총 승객수',title='버스명:{}'.format(one_bus))